@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/proximanova-regular.otf);
}

* {
    box-sizing: border-box;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.team {
    background-color: #f3f3f3;
}

.team__inner {
}
.team__title {
}
.team__line {
}
.team__text {
}
.cards {
}
.item {
}
.item__img {
}
.item__title {
}
.item__text {
}
.team__icons {
}
.fa {
}
.fa-twitter {
}
.fa-linkedin {
}
.fa-dribbble {
}
.fa-skype {
}
