@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/proximanova-regular.otf);
}

* {
    box-sizing: border-box;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.team {
    background-color: #f3f3f3;
}

.team__inner {
    text-align: center;
}
.team__title {
    font-family: Gotham;
}
.team__line {
    width: 184px;
    height: 3px;
    background-color: #303030;
    margin: 0 auto;
}
.team__text {
    font-family: Proxima;
}
.cards {
    display: flex;
    justify-content: space-between;
}
.item {
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 1, 1, 0.2);
}
.item__img {
}
.item__title {
}
.item__text {
    font-family: Georgia;
}
.team__icons {
}
.fa {
}
.fa-twitter {
}
.fa-linkedin {
}
.fa-dribbble {
}
.fa-skype {
}
